## <center>**DiabRisk - Analyse et Prédiction du Risque de Diabète**</center>

Un projet d’intelligence artificielle visant à analyser, segmenter et prédire le risque de diabète à partir de données biomédicales de patients.

#### **1. Importation de DataSet:**

En ``Pandas``, on utilise ``read_csv`` pour importer le fichier csv de notre Dataset.

Le chemin du fichier est le suivant : ``DiabRisk/data/raw/data.csv``

In [ ]:
import pandas as pd

data = pd.read_csv('../data/raw/data.csv')

#### **2. Exploration du DataSet:**

##### **2.1. Les Dimensions :**

En ``Pandas``, pour afficher les dimensions d'une Dataset on utilise ``shape``.

In [ ]:
print(data.shape)

Le résultat donnée par la fonction ``shape`` est que notre DataSet est composée de :

- ``768`` lignes.

- ``9`` colonnes.

##### **2.2. Types des Columns :**

En ``Pandas``, pour afficher les colonnes d'une Dataset avec leurs types on utilise ``dtypes``.

In [ ]:
print(data.dtypes)

Notre DataSet est composé des colonnes suivants :

| Colonne                       | Type              | 
| ----------------------------- | ------------------|
| Unnamed (Index)               | Numeric (int)     |
| Pregnancies                   | Numeric (int)     |
| Glucose                       | Numeric (int)     |
| BloodPressure                 | Numeric (int)     |
| SkinThickness                 | Numeric (int)     |
| Insulin                       | Numeric (int)     |
| BMI                           | Numeric (float)   |
| DiabetesPedigreeFunction      | Numeric (float)   |
| Age                           | Numeric (int)     |


##### **2.3. Aperçu :**

En Pandas, pour avoir une aperçu de notre DataSet , on utilise :

- ``data.head()`` pour afficher les premières lignes d’un DataFrame.

- ``data.tail()`` pour afficher les dernières lignes d’un DataFrame.

In [8]:
data.head()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,6,148,72,35,0,33.6,0.627,50
1,1,1,85,66,29,0,26.6,0.351,31
2,2,8,183,64,0,0,23.3,0.672,32
3,3,1,89,66,23,94,28.1,0.167,21
4,4,0,137,40,35,168,43.1,2.288,33

In [9]:
data.tail()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
763,763,10,101,76,48,180,32.9,0.171,63
764,764,2,122,70,27,0,36.8,0.340,27
765,765,5,121,72,23,112,26.2,0.245,30
766,766,1,126,60,0,0,30.1,0.349,47
767,767,1,93,70,31,0,30.4,0.315,23